<div id="container"><div class="body">
  <router-outlet></router-outlet>
  <mat-toolbar>
    
    <button mat-button [matMenuTriggerFor]="menu" mat-raised-button class="button"><mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="app-today-plan" routerLinkActive="active-link">Today</button>
  <button mat-menu-item routerLink="app-another-day" routerLinkActive="active-link">Another days plan</button>
</mat-menu>
    <span>My to do list</span>
    <span class="example-spacer"></span>
    
    </mat-toolbar>  
    
  </div></div>

